.block{
    width: 65%;
    padding: 0%;
}
.column{
    align-items: center;
}
.orange{
    /* width: 100%; */
    background-color: #95599D;
    display: block;
    box-shadow: none;
    padding: 10px;
}
h2{
    color: whitesmoke!important;
    font-weight: 500!important;
    display: flex;
    align-items: center;
    gap:15px;
}
.btn{
    background-color: #419fd2;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    border:solid 2px transparent;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    opacity: 0.75;
    background-color: #18293B;
}
.btn-o{
    font-size: 22px;
    border-radius: 5px;
}
@media(max-width:1000px){
    .block{
        width: 85%;
    }
}
@media(max-width:680px){
    .block{
        width: 95%;
    }
}
@media(max-width:500px){
    .block{
        width: 99%;
    }
}