<main>
    <div class="container">
        <div class="flex column block" *ngIf="width>660">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSfnFH_qxTi0AJc9k4AiR3XDeAbtHdTZpvmuWv9sV7prD0Js4Q/viewform?embedded=true"
                width="640" height="1300" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
        </div>
        <div class="flex column block" *ngIf="width<=660 && width>480">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSfnFH_qxTi0AJc9k4AiR3XDeAbtHdTZpvmuWv9sV7prD0Js4Q/viewform?embedded=true"
                width="450" height="1300" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
        </div>
        <div class="flex column block" *ngIf="width<=480 && width>385">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSfnFH_qxTi0AJc9k4AiR3XDeAbtHdTZpvmuWv9sV7prD0Js4Q/viewform?embedded=true"
                width="375" height="1300" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
        </div>
        <div class="flex column block" *ngIf="width<=385">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSfnFH_qxTi0AJc9k4AiR3XDeAbtHdTZpvmuWv9sV7prD0Js4Q/viewform?embedded=true"
                width="275" height="1300" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
        </div>
    </div>
</main>