.container{
    display:  flex;
    justify-content: center;
    align-items: flex-start;
    gap:10px;
    width: 100%;
}
.container img, .container video{
    max-height: 450px;
    border-radius: 5px;
    max-width: 100%;
    
}
.orange{
    width: 100%;
    background-color: #95599D;
    display: block;
    /* box-shadow: none; */
}


.block{
    width: 100%;
}
main{
    gap:10px;
    /* align-items: stretch; */
    /* padding: 30px; */
}
p{
    white-space: pre-line;
}
h4{
    color:white;
    font-size: 24px;
}
.blockContent{
    padding: 10px;
    margin-bottom: 10px;
}
.upText{
    margin-bottom: 10px;    
}
@media(max-width:1200px){
    .container{
        flex-direction: column;
    }
    .container  *{
        width: 100%!important;
        height: auto!important;
        max-height: none!important;
    }
}
