.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
span{
    font-size: 26px;
    color: white;
    font-weight: 700;
}
.img_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    flex-wrap: wrap;

}
.img_cont{
    height: 300px;
}
.img_cont>img, .img_cont>video{
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
}
@media(max-width:700px){
    .img_cont>img, .img_cont>video{
        max-height: 300px;
    }
    .img_cont{
        height: auto;
    }
}